// FONTS
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

// COLORS
// Primary
$vermellion: #FF6155;
// Neutral
$dark-navy: #242742;
$pale-navy: #36384e;
$grey: #9294a0;
$white: #ffffff;

/*
 *  GLOBAL VARIABLES
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: $white;
    picture {
        display: flex;
    }

    li {
        list-style: none;
    }
}

// BODY ELEMENTS

main {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

article {
    .to-submit {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.hide {
            display: none;
        }
    }

    .submited {
        margin-top: 149px;
        padding: 0 24px;
        max-width: 490px;
        display: none;
        flex-direction: column;

        &.active {
            display: flex;
        }
    }
    
}

.to-submit {
    .text-content {
        margin: 40px 24px;
        display: flex;
        flex-direction: column;
    }
}

.text-content {
    .texts {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .form-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
}

.texts {
    .title {
        font-family: 'Roboto Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;

        color: $dark-navy;
    }

    .description {
        font-family: 'Roboto Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        color: $dark-navy;
    }

    .bullets {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
            padding-left: 37px;
            
            font-family: 'Roboto Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

            color: $dark-navy;

            position: relative;

            &::before {
                content: '';
                width: 21px;
                height: 21px;
                background-image: url(../images/icon-list.svg);
                position: absolute;
                top: 1px;
                left: 0;
            }
        }
    }
}

.form-container {
    .email-container {
        display: flex;
        justify-content: space-between;

        label {
            font-family: 'Roboto Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 150%;
            
            color: $dark-navy;
        }

        .email-required {
            display: none;

            font-family: 'Roboto Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 150%;
            text-align: right;

            color: $vermellion;

            &.active {
                display: block;
            }
        }
    }

    input {
        margin-top: 8px;
        padding: 15px 23px;

        border: 1px solid rgba(25, 24, 43, 0.25);
        border-radius: 8px;


        font-family: 'Roboto Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        color: $dark-navy;

        &::placeholder {
            opacity: 0.5;
        }

        &:focus {
            border: 1px solid $dark-navy;
            outline: none;
        }

        &.invalid {
            background: rgba(255, 97, 85, 0.15);
            border: 1px solid $vermellion;

            color: $vermellion;
        }
    }

    .submit-btn {
        margin-top: 24px;
        padding: 18px 46px 14px 48px;
        border: none;
        border-radius: 8px;
        background-color: $dark-navy;

        font-family: 'Roboto Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;

        color: $white;
    }
}

.submited {
    .title {
        margin-top: 40px;

        font-family: 'Roboto Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;

        color: $dark-navy;
    }

    .description {
        margin-top: 24px;

        font-family: 'Roboto Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        color: $dark-navy;

        span {
            font-family: 'Roboto Bold';
        }
    }

    .dismiss-btn {
        margin-top: 263px;
        padding: 18px 0 14px;
        background: $dark-navy;
        border-radius: 8px;
        border: none;

        font-family: 'Roboto Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;

        color: $white;

        display: flex;
        justify-content: center;
    }
}

@media (hover: hover) and (pointer: fine) {
    button {
        cursor: pointer;
    }

    .form-container {
        .submit-btn {
            &:hover {
                background: linear-gradient(#FF6A3A 0%, #FF527B 100%);
                box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
                border-radius: 8px;
            }
        }
    }

    .submited {
        .dismiss-btn {
            &:hover {
                background: linear-gradient(#FF6A3A 0%, #FF527B 100%);
                box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
                border-radius: 8px;
            }
        }
    }
}

@media only screen and (min-width: 976px) {
    html,
    body {
        background-color: $pale-navy;
    }

    main {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    article {
        .to-submit {
            border-radius: 36px;
            padding: 24px 24px 24px 64px;
            background-color: $white;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 64px;
        }

        .submited {
            margin: 0;
            padding: 48px 64px 64px;
            max-width: 504px;
            border-radius: 36px;
            background-color: $white;
        }
    }

    .to-submit {
        .text-content {
            margin: 0;
        }
    }

    .text-content {
        .texts {
            width: 376px;
        }
    }

    .texts {
        .title {
            font-size: 56px;
        }

        .description {

        }
    }

    .form-container {
        input {

        }
    }

    .submited {
        .title {
            font-size: 56px;
        }

        .dismiss-btn {
            margin-top: 40px;
        }
    }
}